.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    overflow-y: scroll;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease;
    background: #fff;

    @media only screen and (max-width: $bp-small-1){
        width: 100%;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    h2 {
        padding: 2rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, .5);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, .5);
    border-radius: 20px;
    border: transparent;
}